body {
    padding: px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: rgba(0, 0, 0);
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: "微軟正黑體", "Courier New";
    font-style: normal;
}

ul {
    padding: 0;
    list-style: none;
}

h2 {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
}

h2::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 8px;
    background-color: #4060c991;
    margin-left: 10px;
}

h4 {
    margin: 0;
    margin-top: 40px;
    opacity: 0.8;
    font-weight: 400;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none
}

hr {
    border: none;
    border-bottom: solid 4px #000000;
    width: 40%;
    margin-left: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.left,
.right {
    position: relative;
    padding: 15px
}


/*for mobile device*/
@media screen and (max-width:767px) {
    .main {
        justify-content: space-between;
    }

    .left {
        order: 1;
    }

    .right {
        order: 2;
    }
}

@media screen and (min-width:1152px) {
    .resume {
        display: flex;
        max-width: 950px;
        border: solid 8px rgb(207, 210, 218);
        padding: 50px;
        position: relative;
    }

    .decoration {
        width: 300px;
        height: 140px;
        background: linear-gradient(135deg, #5f92ff, #FFFFAE);
        border-radius: 70px 0px 0px 70px;
        position: absolute;
        right: 0;
        top: 50px;
    }

    .left {
        flex: 5;
        border-right: solid 1px rgb(207, 210, 218);
        padding-right: 50px;
    }

    .right {
        flex: 7;
        padding-top: 150px;
        padding-left: 50px;
    }


}



.listExperience>li {
    display: flex;
    margin-bottom: 10px;

}

.listExperience>li:nth-child(1) ul {
    border-color: #00428d
}

.listExperience>li:nth-child(2) ul {
    border-color: #104fc5
}

.listExperience>li:nth-child(3) ul {
    border-color: #3565be
}

.listExperience>li:nth-child(4) ul {
    border-color: #90b9e9
}

.listExperience li ul {
    padding-left: 10px;
    margin-left: 10px;
    border-left: solid 4px white
}


/* list skill */
.listSkill {
    display: flex;
    flex-wrap: wrap;

}

.listSkill li {
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 113, 104, 0.4);
}

.circle::after {
    content: "";
    display: block;
    background-color: #02005B;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.p90,
.p180,
.p270,
.p360 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: #68c3ff;
}

.p180 {
    top: 50%;
}

.p270 {
    left: 0;
    top: 50%;
}

.p360 {
    left: 0;
    top: 0;
}


/* list program */

.listProgram .bar {
    width: 150px;
    height: 10px;
    border: solid 2px #00428d;
    border-radius: 5px
}

.listProgram li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.value {
    height: 100%;
    width: 60%;
    background-color: #3565be;
}

.value.p10 {
    width: 10%;
}

.value.p20 {
    width: 20%;
}

.value.p30 {
    width: 30%;
}

.value.p40 {
    width: 40%;
}

.value.p50 {
    width: 50%;
}

.value.p60 {
    width: 60%;
}

.value.p70 {
    width: 70%;
}

.value.p80 {
    width: 80%;
}

.value.p90 {
    width: 90%;
}

.value.p100 {
    width: 100%;
}

.btn {
    border: solid 3px #006eff;
    padding: 5px 20px;
    margin-right: 10px;
}

.fill {
    background-color: #b7defd;
}